@use "../abstracts/" as *;

.score-wrapper {
  background-color: $color-neutral-100;
  padding: $size-8;
  border-radius: $size-3;
  gap: $size-4;
  place-content: center;
}

.subject-score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $size-4;
  color: $color-neutral-900;
  font-size: $font-size-500;
  font-weight: $font-weight-medium;
  cursor: pointer;
}

.score {
  text-align: center;
  span {
    display: block;
    color: $color-neutral-700;
  }
}
