@use "../abstracts/" as *;

body {
  font-family: $font-family-base;
  font-weight: $font-weight-default;
  font-size: $font-size-400;
  color: $color-neutral-900;
  background-color: $color-neutral-200;
  display: flex;
  flex-direction: column;
}

header {
  margin-block: $size-4;

  .subject-header {
    display: flex;
    align-items: center;
    gap: $size-4;
    color: $color-neutral-900;
    font-size: $font-size-500;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
}

main {
  margin-block: $size-8;
}
