@use "../abstracts" as *;

:root {
  @each $color, $shade-map in $active-theme {
    @each $shade, $value in $shade-map {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  @if ($enable-media-query-dark-mode) {
    @media (prefers-color-scheme: dark) {
      @each $color, $shade-map in $dark {
        @each $shade, $value in $shade-map {
          --#{$color}-#{$shade}: #{$value};
        }
      }
    }
  }

  @each $screen-size, $size-map in $font-sizes {
    @if $screen-size == small {
      @each $size-name, $size-value in $size-map {
        --fs-#{$size-name}: #{$size-value};
      }
    } @else {
      @include mq($screen-size) {
        @each $size-name, $size-value in $size-map {
          --fs-#{$size-name}: #{$size-value};
        }
      }
    }
  }
}

:root[data-theme="light"] {
  @each $color, $shade-map in $light {
    @each $shade, $value in $shade-map {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  --bg-mobile: url("/assets/images/pattern-background-mobile-light.svg");
  --bg-tablet: url("/assets/images/pattern-background-tablet-light.svg");
  --bg-desktop: url("/assets/images/pattern-background-desktop-light.svg");
}
:root[data-theme="dark"] {
  @each $color, $shade-map in $dark {
    @each $shade, $value in $shade-map {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  --bg-mobile: url("/assets/images/pattern-background-mobile-dark.svg");
  --bg-tablet: url("/assets/images/pattern-background-tablet-dark.svg");
  --bg-desktop: url("/assets/images/pattern-background-desktop-dark.svg");
}
